<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Welcome on your Journey!</h1>
        <p class="lead">Your learning journal application</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account"
                   > You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>If you want to </span>
                <a class="alert-link" (click)="login()">sign in</a><span>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span>You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register">Register a new account</a>
            </div>
        </div>
        <p>
            <span>Journey supports you in tackling your personal challenges! Just follow these five steps.</span>
            <ol>
                <li>Start by defining your personal <a routerLink="/challenge/new">challenge</a>. What is it you want to tackle? Provide a tag as short identifier and a description.</li>
                <li>For this challenge, come up with a hypothesis how to tackle it and define a concrete probe to test it. Make sure to add exit criteria when to stop and reflect.</li>
                <li>Now you're ready to go! With every step you make on your way towards your goal, create a <a routerLink="/journal-entry/new">journal entry</a> to document your lessons and visualize your learning progress.</li>
                <li>While moving forward, keep an eye on your exit criteria.</li>
                <li>Finally: when the defined exit criteria are met, evaluate your probe and see if it could prove your hypothesis.</li>
            </ol>
            <span>
                <p>If you succeeded - hooray! You're ready to tackle your next challenge. :D</p>
                <p>If you did not succeed yet, you at least learned what did not work in your specific context. Use that new knowledge to rinse and repeat and design a new hypothesis to tackle your challenge. All the best and keep going on your personal Journey!</p>
            </span>
        </p>
    </div>
</div>
